<div class="container">

    <p id="notice"><%= notice %></p>

    <h1>Browse Events</h1>

    <%= render 'browse_instructions'%>

    <p class='num-events'>Number of events: <%= pluralize(@events.length, 'event')%></p>
    <div class="center">
        <%= link_to 'â•Add New Event', new_event_path%>
    </div>

    <div class="events-list">
        <%if @events.length==0%>
        <p class="center">No events added yet. Create one for others to see!</p>
        <% end%>

        <% @events.each do |event|%>
        <%= render 'event_list_item', :locals => {event: event} %>
        <% end%>
    </div>


    <br>

</div>